/* Global Style */
html {
    background-color: #FFF;
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-family: Tahoma, sans-serif;
}

.container {
    width: 1260px;
    height: 940px;
    padding-top: 53px;
    padding-left: 160px;
    margin-left: auto;
    margin-right: auto;
    background-color:#EDF2C5;
}



/* Header Style */
.header-content {
    display: flex;
    width: 940px;
    margin-bottom: 8px;
}

/* 左側 */
.header-title-main {
    width: 271px;
    height: 42px;
}

/* 右側 */
.link-title-main {
    width: 201px;
    height: 42px;
    display: flex;
    margin-left: 468px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

/* Vegetables */
.header-title {
    font-size:xx-large;
    font-family: 'Arial Black';
    color: #778A50;
    margin-top: 0;
}

.FB-image {
    width: 25px;
    height: 25px;
}

.IG-image {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.line-title {
    height:25px;
    width:1px;
    border-width:0px;
    color:#778A50;
    background-color:#778A50;
    margin-left: 10px;
}
.Box-LOGIN {
    width: 60px;
    height: 25px;
    margin-left: 10px;
    border:1px #778A50 solid;
    border-radius: 3px;
}

.Box-JOIN {
    width: 50px;
    height: 25px;
    margin-left: 10px;
    border:1px #778A50 solid;
    border-radius: 3px;
}

.Box-text {
    font-size: 12px;
    font-family: 'Arial Black';
    color: #778A50;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-top: 0;
}


/* 導覽列 */
.nav {
    background-color: #778A50;
    border-radius: 3px;
    width: 940px;
    height: 44px;
}

.nav-list {
    display: flex;
    padding: 0px;
}


/*list-style:none把<li>的圓圈符號移除 */
.nav-list-item {
    list-style: none;
}


.nav-list-item-link {
    display: block;
    color: #EDF2C5;
    text-decoration: none;
    padding: 10px 30px;
    border-bottom: none;
    font-family: "Arial Black";
    font-size: 16px;
}



/* Content Style */
.main-image {
    display: block;
    width: 940px;
    height: 448px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content-area {
    display: flex;
    margin-bottom: 35px;
}


/* Main-Area Style */


.main-area-title {
    background-color: #778A50;
    width: 445px;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 3px;
}


.main-area-title p {
    color: #EDF2C5;
    font-family: "Arial Black";
    font-size: 16px;
    padding: 11px 30px;
}
.main-area-image {
    display: flex;
}


.main-area-image-vegetables {
    width: 140px;
    height: 140px;
    margin-right: 12px;
}

/* Sidebar Style */
.sidebar {
    width: 445px;
    margin-left: 40px;
}


.sidebar-title {
    width: 445px;
    height: 45px;
    background-color: #778A50;
    margin-bottom: 15px;
    border-radius: 3px;
}

.sidebar-title p {
    color: #EDF2C5;
    font-family: "Arial Black";
    font-size: 16px;
    padding: 11px 30px;
}

.sidebar-main {
    width: 445px;
    height: 140px;
    background-color: #F7FBDA;
    padding: 8px 15px;
    border-radius: 3px;
}


.sidebar-text {
    font-family: "ArialMT Regular";
    font-size: 12px;
    line-height: 1.33;
    color: #7D7D7D;
    text-align: justify;
}

.align-center {
    text-align:justify;
    text-align-last: left;
    font-family: "ArialMT Regular";
    font-size: 12px;
    line-height: 1.33;
    color: #7D7D7D;
}

.sidebar-main hr {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 414px;
    color: #7D7D7D;
    border-width:1px;
    border-left-width: 0px;
}

.sidebar-conctact {
    font-family: "ArialMT Regular";
    font-size: 12px;
    line-height: 1.83;
    color: #7D7D7D;
}


/* Footer Style */
.footer {
    margin-left: -160px;
    margin-right: auto;
    width: 1260px;
    height: 60px;
    padding: 10px 479px;
    background-color: #778A50;
}


.footer-text {
    text-align: center;
    font-size: 12px;
    color: #EDF2C5;
    font-family: "ArialMT Regular";
}
  
